body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #555;
  line-height: 1.6em;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #DD5555;
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 300;
}
p {
  font-size: 1rem;
  font-weight: 400;
  color: #595959;
}
a {
  color: #555;
  text-decoration: none;
  font-weight: 700;
  transition: .25s;
}
a:link, a:hover, a:active {
  color: #DD5555;
  text-decoration: none;
}
.container-fluid{
  width: 75%;
  margin: 2rem auto;
}
.card {
  background: #FFF;
  padding: 1.4rem;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.text-center {
  text-align: center;
}
.social-icon {
  display: inline-block !important;
  width: 64px;
  height: auto;
  margin: 10px 16px;
  transition: 1s;
}
.social-icon:link, .social-icon:hover, .social-icon:active {
  opacity: .85;
}
.section-title {
  text-align: center;
  font-size: 26px;
  color: #595959;
}
.movie-img {
  width: 140px;
  height: auto;
  margin: 0 20px 20px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  animation: 2s jackInTheBox;
}
.movie-title {
  font-size: 22px;
  color: #595959;
  margin-top: -18px;
  margin-bottom: -8px;
  transition: .25s;
}
#content{
  margin-left: 120px;
}
#img-profile {
  width: 150px;
  height: auto;
  margin: 14px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 2s;
}
#img-profile:link, #img-profile:hover, #img-profile:active {
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1);
}
#btn-red {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #DD5555;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 1s;
}
#btn-red:link, #btn-red:hover, #btn-red:active {
  cursor: pointer;
  color: white;
  background-color: #C61414;
}
#title-border {
  padding-bottom: 4px;
  border-bottom: 6px solid #DD5555;
}
#imdb-logo {
  width: 32px;
  height: auto;
}
#imdb-logo:link, #imdb-logo:hover, #imdb-logo:active {
  cursor: pointer;
}
#sidebar {
  background-color: #DD5555;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 120px;
  text-align: center;
  animation: 2s bounceInDown;
}
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}
#sidebar li {
  margin-top: 50px;
  margin-bottom: 50px;
}
#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
  text-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 1);
  transition: 1s;
}
#sidebar a:link, #sidebar a:hover, #sidebar a:active {
  color: #FFF;
}
#wagon-logo {
  display: inline;
  width: 32px;
  height: auto;
  margin-bottom: -10px;
  overflow: hidden;
  transition: .75s;
}
#wagon-logo:link, #wagon-logo:hover, #wagon-logo:active {
  cursor: pointer;
  opacity: .95;
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 100px, 0);
  }
  75% {
    transform: translate3d(0, -40px, 0);
  }
  90% {
    transform: translate3d(0, 20px, 0);
  }
  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.jackInTheBox {
  animation-name: jackInTheBox;
}
@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}
form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  width: 90%;
  margin-top: 1em;
  resize: none;
  font-size: .9rem;
  border: 1px solid #CCC;
  transition: all 200ms ease-out;
}
form input:focus, form textarea:focus {
  border: 1px solid #DD5555;
}
form #input-submit {
  color: white;
  background: #DD5555;
  cursor: pointer;
  transition: 1s;
  width: 100%;
  border: none;
}
form #input-submit:hover {
  -cursor: pointer;
  color: white;
  background-color: #C61414;
}
form textarea {
  height: 9.8em;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
.cf::before,
.cf::after {
  content: " ";
  display: table;
}
.cf::after {
  clear: both;
}
